{% extends 'account/base_auth.html' %}
{% block auth_content %}
  <form class="login100-form validate-form" method="post">
    {% csrf_token %}
    {% include 'account/_errors.html' %}
    <span class="login100-form-title">تغییر رمز عبور</span>
    
    <p class="text-center p-b-20">لطفاً رمز عبور جدید خود را وارد کنید.</p>

    {{ form.as_p }} <div class="container-login100-form-btn">
      <button type="submit" class="login100-form-btn">ثبت رمز جدید</button>
    </div>
  </form>
{% endblock %}