{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-top">
  <div class="container">
    <div class="col-lg-10 offset-lg-1 text-center">
      <div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
        <h1>صفحه یافت نشد</h1>
        <ul>
          <li>
            <a href="{% url 'core:index' %}">صفحه اصلی</a>
          </li>
          <li>/ 404</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="zero_area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12 text-center">
        <div class="error_page">
          <img src="{% static 'assets/img/404.svg' %}" class="img-fluid" alt="404 error" /><h2>اوه! صفحه یافت نشد</h2>
          <p>هوم ما در یافتن آن سایت با مشکل مواجه هستیم. بعداً دوباره امتحان کنید یا اتصال شبکه خود را بررسی کنید.</p>
          <div class="home_btn">
            <a href="{% url 'core:index' %}" class="btn_one">بازگشت به خانه</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}